* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
  }

  :root {
    --background: #f6e7cb;
    --footer-bg: #678d58;
    --bg-titleText: #a6c48a;
  }

  body {
    background-color: var(--background);
  }
  header {
    background-color: var(--bg-titleText);
    display: flex;
    justify-content: space-between;
  }
  
  .bigScreen {
      display: none;
  }
  
  .menu-toggle {
    height: 5rem;
  }
  
  nav .nav-list {
    list-style-type: none;
  }
  
  .logo img {
    margin-left: 15px;
    height: 7rem;
  }
  
  .menu-toggle {
    width: 5rem;
    margin-top: 1rem;
    margin-right: 3rem;
  }
  
  nav {
    position: relative;
    z-index: 5;
  }
  
  nav .nav-list {
    font-size: 3rem;
    position: absolute;
    left: -10rem;
    padding: 2rem;
    background-color: #a8cd42;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    text-align: center;
    width: 15rem;
    margin-top: 1rem;
  }
  
  nav .nav-list li {
    list-style: none;
    margin-bottom: 1rem;
  }
  
  nav .nav-list li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    padding: 0.5rem;
    font-size: 1.5rem;
  }
  
  nav > input {
    display: none;
  }
  
  nav .nav-list {
    display: none;
  }
  
  input[type="checkbox"]:checked ~ ul {
    display: block;
  }

  .main-container {
    display: grid;
    grid-template-columns: 20rem 35rem 20rem;
    grid-template-rows: 1rem 3rem 35rem 2rem 40rem 3rem 55rem;
    width: 65rem;
    height: 40rem;
    
  }

  .main-container img {
    grid-area: 3 / 2 / 4 / 3;
    width: 35rem;
    height: 30rem;
    margin-top: 3rem;
  }

  .backen {
    display: none;
  }

  .bigScreenImage {
    opacity: 0;
  }

  h1 {
    grid-area: 2 / 2 / 3 / 3;
    font-size: 2rem;
    font-style: italic;
  }

  .main-container p {
    grid-area: 4 / 2 / 5 / 6;
    font-size: 1.5rem;
  }

  .main-container .zutaten {
    grid-area: 5 / 2 / 6 / 3;
    font-size: 2.5rem;
    line-height: 2.5rem;
    list-style: none;

  }

  h2 {
    grid-area: 6 / 2 / 7 / 3;
    font-size: 2rem;
    text-decoration: underline;
    font-style: italic;
  }

  .anleitung {
    grid-area: 7 / 2 / 8 / 3;
    font-size: 2.5rem;
    line-height: 2.5rem;
  }

  footer {
    background-color: var(--footer-bg);
    top: 140rem;
    height: 10rem;
    margin-top: 110rem;
  }
  
  .nav-footer {
    display: flex;
    justify-content: space-around;
    font-size: 5rem;
    list-style: none;
  }
  
  .nav-footer li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  
  .social-icons {
    display: flex;
    justify-content: space-around;
    margin: 1rem;
  }
  
  .social-icons a {
    color: white;
    font-size: 4rem;
  }
  
  .copyright {
    display: none;
  }


  @media screen and (min-width: 768px) and (max-width: 992px) {
    .main-container{
      display: grid;
      grid-template-columns: 25rem 1fr 25rem;
      grid-template-rows: 2rem 3rem 40rem 3rem 36rem 4rem;
    
    }

    .main-container img {
      grid-area: 3 / 2 / 4 / 3;
      width: 45rem;
      height: 35rem;
      margin-top: 3rem;
    }

    .bigScreenImage {
      display: none;
    }

    .backen {
      display: none;
    }
  
    h1 {
      grid-area: 2 / 2 / 3 / 3;
      font-size: 2rem;
      font-style: italic;
    }
  
    .main-container p {
      grid-area: 4 / 2 / 5 / 3;
      font-size: 1.5rem;
    }
  
    .main-container .zutaten {
      grid-area: 5 / 2 / 6 / 3;
      font-size: 2.5rem;
      line-height: 2.5rem;
      list-style: none;
    }
  
    h2 {
      grid-area: 6 / 2 / 7 / 3;
      font-size: 2rem;
      text-decoration: underline;
      font-style: italic;
    }
  
    .anleitung {
      grid-area: 7 / 2 / 8 / 3;
      font-size: 2.5rem;
      line-height: 2.5rem;
    }

  }


  @media screen and (min-width: 993px) {
    header {
      height: 15rem;
    }
  
    .menu-toggle {
      display: none;
    }
   
    .bigScreen{
      display: block;
    }
    
  .bigScreen nav {
      margin-top: 5rem;
  }
  
    .bigScreen nav a {
          font-size: 4rem;
          padding: 3rem;
          text-decoration: none;
          color: white;
  }
  
  .bigScreen a:hover {
      color: darkgreen;
      text-decoration: underline;
      transition: 0.5s;
  }
    
  
    .logo img {
      height: 14rem;
    }

    .main-container{
      display: grid;
      grid-template-columns: 45rem repeat(2, 1fr) 45rem;
      grid-template-rows: 2rem 1rem 40rem 3rem 50rem 4rem 40rem;
      gap: 2rem;
    }

    .main-container img {
      grid-area: 3 / 2 / 4 / 3;
      width: 45rem;
      height: 35rem;
      margin-top: 3rem;
      border-radius: 5rem;
    }

    .bigScreenImage {
      opacity: 1;
      grid-area: 3 / 3 / 4 / 4;
      border-radius: 5rem;
    }

    .backen {
      display: block;
      grid-area: 6 / 2 / 7 / 3;
    }

    h1 {
      grid-area: 2 / 2 / 3 / 3;
      font-size: 3rem;
      font-style: italic;
    }
  
    .main-container p {
      grid-area: 4 / 2 / 5 / 3;
      font-size: 2.5rem;
    }
  
    .main-container .zutaten {
      grid-area: 5 / 2 / 6 / 3;
      font-size: 3.5rem;
      line-height: 3rem;
      list-style: none;
    }
  
    h2 {
      grid-area: 4 / 3 / 5 / 4;
      font-size: 2rem;
      text-decoration: underline;
      font-style: italic;
    }
  
    .anleitung {
      grid-area: 5 / 3 / 5 / 4;
      font-size: 3rem;
      line-height: 3rem;
    }



    footer {
      margin-top: 120rem;
      display: flex;
    }
  
    footer .nav-footer{
      width: 45%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
  
    footer .social-icons {
      width: 45%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  
    .nav-footer li a {
      padding: 1rem;
    }
  
    .social-icons a {
      margin: 1rem;
    }
  
     .copyright {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      font-size: 1.5rem;
      color: white;
     }
  
     .copyright i {
      font-size: 1.5rem;
     }
  
     footer a:hover {
      color: #2d511f;
      text-decoration: underline;
      font-size: 3rem;
     }
  
     .social-icons i:hover {
      color: #2d511f;
      font-size: 4rem;
     }
  } 